<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--全限定类名-->
<mapper namespace="com.mint.ai.mapper.PostMapper">

    <update id="batchIncrementPostCount">
        UPDATE post SET ${metric} = ${metric} + CASE id
        <foreach collection="list" item="item">
            WHEN #{item.id} THEN #{item.incrCount}
        </foreach>
        END
        WHERE id IN
        <foreach collection="list" item="item" open="(" separator="," close=")">
            #{item.id}
        </foreach>
    </update>

    <select id="postHomePage" resultType="com.mint.ai.post.api.vo.PostHomePageVO">
        SELECT title, content, cover_image, bar_id, id AS postId,
               (like_count * 5 + view_count * 2 + comment_count * 3) AS hotScore
        FROM post
        <where>
            deleted = 0
            <if test="cursor != null">
                AND (
                    (like_count * 5 + view_count * 2 + comment_count * 3) &lt; #{cursor.score}
                    OR ((like_count * 5 + view_count * 2 + comment_count * 3) = #{cursor.score} AND id &lt; #{cursor.postId})
                )
            </if>
        </where>
        ORDER BY (like_count * 5 + view_count * 2 + comment_count * 3) DESC, id DESC
        LIMIT #{pageSize}
    </select>
    
    <select id="getPostFeedInBar" resultType="com.mint.ai.post.api.vo.BarPostCardVO">
        SELECT title,content,view_count,like_count,comment_count,last_reply_time,create_time,user_id,id as postId,
        (like_count * 5 + view_count * 2 + comment_count * 3) AS hotScore
        FROM post
        <where>
            deleted = 0
            AND bar_id = #{barId}
            <if test="cursor != null">
                <choose>
                    <when test="orderBy == 'hot'">
                        AND (
                        (like_count * 5 + view_count * 2 + comment_count * 3) &lt; #{cursor.score}
                        OR ((like_count * 5 + view_count * 2 + comment_count * 3) = #{cursor.score} AND id &lt; #{cursor.postId})
                        )
                    </when>
                    <when test="orderBy == 'createTime'">
                        AND (
                        (create_time &lt; #{cursor.createTime})
                        OR (create_time = #{cursor.createTime} AND id &lt; #{cursor.postId})
                        )
                    </when>
                    <otherwise>
                        AND (
                        (create_time &lt; #{cursor.createTime})
                        OR (create_time = #{cursor.createTime} AND id &lt; #{cursor.postId})
                        )
                    </otherwise>
                </choose>
            </if>
        </where>
        ORDER BY
        <choose>
            <when test="orderBy == 'hot'">
                (like_count * 5 + view_count * 2 + comment_count * 3) DESC , id DESC
            </when>
            <when test="orderBy == 'createTime'">
                create_time DESC ,  id DESC
            </when>
            <otherwise>
                create_time DESC ,  id DESC
            </otherwise>
        </choose>
        LIMIT #{pageSize}
    </select>

</mapper>