<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--全限定类名-->
<mapper namespace="com.mint.ai.mapper.PostMapper">

    <update id="batchIncrementPostCount">
        UPDATE post SET ${metric} = ${metric} + CASE id
        <foreach collection="list" item="item">
            WHEN #{item.id} THEN #{item.incrCount}
        </foreach>
        END
        WHERE id IN
        <foreach collection="list" item="item" open="(" separator="," close=")">
            #{item.id}
        </foreach>
    </update>

    <select id="postHomePage" resultType="com.mint.ai.post.api.vo.PostHomePageVO">
        SELECT title, content, cover_image, bar_id, id AS postId,
               (like_count * 5 + view_count * 2 + comment_count * 3) AS hotScore
        FROM post
        <where>
            deleted = 0
            <if test="cursor != null">
                AND (
                    (like_count * 5 + view_count * 2 + comment_count * 3) &lt; #{cursor.score}
                    OR ((like_count * 5 + view_count * 2 + comment_count * 3) = #{cursor.score} AND id &lt; #{cursor.postId})
                )
            </if>
        </where>
        ORDER BY (like_count * 5 + view_count * 2 + comment_count * 3) DESC, id DESC
        LIMIT #{pageSize}
    </select>

</mapper>